.App {
  text-align: center;
}

.head-header {
  background-color: #282c34;
  height: 100px;
  min-height: 100px;
}

.head-content {
  width: 80%;
  min-width: 200px;
  margin: 0 auto;
  height: inherit;
}

.head-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  line-height: 100px;
  float: left;
  margin: 15px;
}

.head-input {
  width: 300px;
  min-width: 100px;
  padding: 11px 30px 11px 6px;
  margin: 30px 0 0 0;
  border: none;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
  float: left;
}

.head-button {
  background-color: #5bc6e4;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 3px;
  margin: 30px 0 0 8px;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
}

.item {
  width: 80%;
  min-width: 200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.item li {
  padding: 10px 0 ;
  margin: 0;
  line-height: 26px;
}
.item li:nth-child(even) {
  background-color: #eee;
}

.item li button {
  background-color: #5bc6e4;
  color: #fff;
  border: none;
  outline: none;
  padding: 6px 24px;
  border-radius: 3px;
  margin: 0 0 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}